$primary-green-100: rgba(79, 209, 197, 1);
$primary-green-90: rgba(79, 209, 197, 0.9);
$primary-green-80: rgba(79, 209, 197, 0.8);
$primary-green-70: rgba(79, 209, 197, 0.7);
$primary-green-60: rgba(79, 209, 197, 0.6);
$primary-green-50: rgba(79, 209, 197, 0.5);
$primary-green-40: rgba(79, 209, 197, 0.4);
$primary-green-30: rgba(79, 209, 197, 0.3);
$primary-green-20: rgba(79, 209, 197, 0.2);
$primary-green-10: rgba(79, 209, 197, 0.1);

$primary-yellow-100: rgba(245, 186, 19, 1);
$primary-yellow-90: rgba(245, 186, 19, 0.9);
$primary-yellow-80: rgba(245, 186, 19, 0.8);
$primary-yellow-70: rgba(245, 186, 19, 0.7);
$primary-yellow-60: rgba(245, 186, 19, 0.6);
$primary-yellow-50: rgba(245, 186, 19, 0.5);
$primary-yellow-40: rgba(245, 186, 19, 0.4);
$primary-yellow-30: rgba(245, 186, 19, 0.3);
$primary-yellow-20: rgba(245, 186, 19, 0.2);
$primary-yellow-10: rgba(245, 186, 19, 0.1);

$primary-gray-100: rgba(63, 61, 86, 1);
$primary-gray-90: rgba(63, 61, 86, 0.9);
$primary-gray-80: rgba(63, 61, 86, 0.8);
$primary-gray-70: rgba(63, 61, 86, 0.7);
$primary-gray-60: rgba(63, 61, 86, 0.6);
$primary-gray-50: rgba(63, 61, 86, 0.5);
$primary-gray-40: rgba(63, 61, 86, 0.4);
$primary-gray-30: rgba(63, 61, 86, 0.3);
$primary-gray-20: rgba(63, 61, 86, 0.2);
$primary-gray-10: rgba(63, 61, 86, 0.1);

$primary-red-100: rgba(235, 29, 54, 1);
$primary-red-90: rgba(235, 29, 54, 0.9);
$primary-red-80: rgba(235, 29, 54, 0.8);
$primary-red-70: rgba(235, 29, 54, 0.7);
$primary-red-60: rgba(235, 29, 54, 0.6);
$primary-red-50: rgba(235, 29, 54, 0.5);
$primary-red-40: rgba(235, 29, 54, 0.4);
$primary-red-30: rgba(235, 29, 54, 0.3);
$primary-red-20: rgba(235, 29, 54, 0.2);
$primary-red-10: rgba(235, 29, 54, 0.1);
